body {
  font-family: 'Raleway', serif;
  text-align: center;
  background-color: #e2e2e2;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  margin-top: 40px;
}

#cardForm {
  margin: 20px auto;
  max-width: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #3e8e41;
}

/* Certificate Modal */
.modal {
  max-width: 800px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  border: 3px solid #659f8f;
}

.modal-content::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -1;
  background: linear-gradient(#659f8f, #5d5f5e);
  border-radius: 15px;
}

.modal-content::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: -2;
  background: #fff;
  border: 1px solid #dc7f5f;
  border-radius: 15px;
}

.certificate-container {
  font-family: 'Raleway', serif;
  color: #333;
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid #dc7f5f;
  border-radius: 10px;
  margin: 20px 0;
}

.certificate-header {
  margin-bottom: 20px;
}

.certificate-header h2 {
  color: #5d5f5e;
  font-size: 24px;
  margin-bottom: 10px;
}

.certificate-header p {
  color: #5d5f5e;
  font-size: 16px;
  margin: 0;
}

.certificate-body h3 {
  color: #5d5f5e;
  font-size: 20px;
  margin-bottom: 10px;
}

.certificate-body p {
  color: #5d5f5e;
  font-size: 16px;
  margin: 5px 0;
}

.certificate-body h4 {
  color: #5d5f5e;
  font-size: 20px;
  margin: 10px 0;
}

.certificate-footer {
  margin-top: 30px;
  text-align: center;
}

.certificate-footer img {
  max-width: 150px;
  margin-bottom: 10px;
}

.certificate-footer p {
  color: #5d5f5e;
  font-size: 16px;
  margin: 5px 0;
}

.close {
  color: #dc7f5f;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}
